.u-section-11 {
    background-image: none;
  }
  
  .u-section-11 .u-sheet-1 {
    min-height: 849px;
  }
  
  .u-section-11 .u-text-1 {
    font-weight: 700;
    margin: 59px auto 0;
  }
  
  .u-section-11 .u-form-1 {
    height: 542px;
    --thumb-color: #478ac9;
    --thumb-hover-color: #77aad9;
    --track-color: #c0c0c0;
    --track-active-color: #478ac9;
    margin: 24px 310px 60px 260px;
  }
  
  .u-section-11 .u-input-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-11 .u-input-2 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-11 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-11 .u-input-3 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-11 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-11 .u-input-4 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-11 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-11 .u-input-5 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-11 .u-form-group-6 {
    margin-left: 0;
  }
  
  .u-section-11 .u-input-6 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  @media (max-width: 1199px) {
    .u-section-11 .u-form-1 {
      width: 570px;
      margin-right: 210px;
      margin-left: 160px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-11 .u-form-1 {
      margin-right: 100px;
      margin-left: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-11 .u-form-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-11 .u-form-1 {
      width: 340px;
    }
  } 