.notActive {
    margin: 0 auto;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.active {
    background-color: red;
    margin: 0 auto;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.container {
    text-align: center;
}