.u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    margin: 59px auto 0;
  }
  
  .u-section-3 .u-form-1 {
    height: 542px;
    --thumb-color: #478ac9;
    --thumb-hover-color: #77aad9;
    --track-color: #c0c0c0;
    --track-active-color: #478ac9;
    margin: 24px 310px 0 260px;
  }
  
  .u-section-3 .u-input-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-input-2 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-3 .u-input-3 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-3 .u-input-4 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-3 .u-input-5 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-form-group-6 {
    margin-left: 0;
  }
  
  .u-section-3 .u-input-6 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-form-group-7 {
    --progress: 0%;
  }
  
  .u-section-3 .u-input-7 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-3 .u-text-2 {
    margin: -64px 543px 0 433px;
  }
  
  .u-section-3 .u-btn-2 {
    background-image: none;
    border-style: solid;
    margin: -25px 496px 37px auto;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-form-1 {
      width: 570px;
      margin-right: 210px;
      margin-left: 160px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 443px;
      margin-left: 315px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-right: 296px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-form-1 {
      margin-right: 100px;
      margin-left: 50px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 333px;
      margin-left: 241px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-right: 76px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-form-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 243px;
      margin-left: 181px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-form-1 {
      width: 340px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 143px;
      margin-left: 114px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-bottom: 51px;
    }
  }